Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.fbx
*.PNG
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
Config/HoloLens/HoloLensEngine.ini
